### These files should get ignored no matter where they appear.

# Editors leave these lying around
\#*\#
.#*
*~
*.swp

# C stuff
*.o

# Windows stuff
*.obj
*.exe
*.lib

# Patch leaves these lying arround
*.orig
*.rej

# gcov stuff
*.gcno
*.gcov
*.gcda

# Autotools stuff
.deps
Makefile
Makefile.in

# Libtool stuff
.libs
*.lo
*.la

# ctags stuff
TAGS

# Stuff made by our makefiles
libevent.pc
libevent_pthreads.pc
libevent_openssl.pc
*.log
*.trs

## The initial / makes these files only get ignored in particular directories.
/autom4te.cache

# Libtool adds these, at least sometimes
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/aclocal.m4
/compile
/doxygen
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/config.h
/config.h.in
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/include/event2/event-config.h

/sample/dns-example
/sample/event-test
/sample/hello-world
/sample/http-server
/sample/le-proxy
/sample/signal-test
/sample/time-test

/test/bench
/test/bench_cascade
/test/bench_http
/test/bench_httpclient
/test/regress
/test/regress.gen.c
/test/regress.gen.h
/test/rpcgen-attempted
/test/test-eof
/test/test-init
/test/test-ratelim
/test/test-script.sh
/test/test-time
/test/test-weof
/test/test-changelist

