# name -> email
Azat Khuzhin           <azat@libevent.org>
yuangongji             <yuangongji@foxmail.com>

# primary email -> alias
<azat@libevent.org>                   <a3at.mail@gmail.com>
yuangongji <yuangongji@foxmail.com>   <82787816@qq.com>
